<div class="card">
  <%= link_to image_tag(pet.image, class: :card__img ), pet_path(pet.id)%>
  <div class="card__body">
<input type="checkbox" id="like"><label for="like"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 74 30"><path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z"/></svg></label>
    <%= link_to "#{pet.title}", pet_path(pet.id),  method: :get,class: :card__title%><br>
    <p class="card__summary">
      <%= "#{pet.catch_copy}" %>
    </p>
    <%= link_to "投稿者 #{pet.user.nickname}",user_path(pet.user.id),method: :get, class: :card__user %>
  </div>
</div>
