<html>
<div id="loader-bg">
  <div id="loader">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVNklv8hfdr_GAgAOOPgt73Zo3OQMZMVThpA&usqp=CAU" width="80" height="80" alt="welcome to buzpet" />
    <p>〜ローディング〜</p>
  </div>
</div>
<div id="wrap">
<body>
 <main class="main">
   <div id="gradient" />
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js"> </script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
$(function() {
  var h = $(window).height();
  $('#wrap').css('display','none');
  $('#loader-bg ,#loader').height(h).css('display','block');
});
$(window).load(function () { //全ての読み込みが完了したら実行
  $('#loader-bg').delay(800).fadeOut(700);
  $('#loader').delay(800).fadeOut(700);
  $('#wrap').css('display', 'block');
});
//10秒たったら強制的にロード画面を非表示
$(function(){
  setTimeout('stopload()',10000);
});
function stopload(){
  $('#wrap').css('display','block');
  $('#loader-bg').delay(900).fadeOut(800);
  $('#loader').delay(600).fadeOut(300);
}
</script>
 
  <%= form_with(url: search_pets_path, local: true, method: :get, class: "search-form") do |form| %>
   <%= form.text_field :keyword, placeholder: "例)ひなたぼっこ", class: "search-input" %>
    <%= form.submit "検索", class: "search-btn" %>
  <% end %>
  <div class="inner">
   <% if user_signed_in? %>
   <div class="greeting">
   </div>
    <% else %>
    <% end %> 
    <%# <div class="card__wrapper"> %>
    
    <%= render partial: 'pet', collection: @pets  %>
    
    <%# </div>  %>
      </div>
     </div>
    </div>
   </main>
  </body>
 </div>
</html>


