<main class="main">
 <div class="inner">
   <% if user_signed_in? %>
   <div class="greeting">
    Welcom to BuzPet
   </div>
    <% else %>
    <% end %> 
   <div class="card__wrapper">
    <%= render partial: 'pet', collection: @pets  %> 
   </div>
 </div>
</main>