<div class="main_search">
  <%= form_with(url: search_pets_path, local: true, method: :get, class: "search-form") do |form| %>
   <%= form.text_field :keyword, placeholder: "例)ひなたぼっこ", class: "search-input"    %>
   <%= form.submit "検索", class: "search-btn"   %>
  <% end %>   

 <% if @pets.count == 0 %>
 <p>検索結果がありませんでした</p>
 <% end %>

 <%= render partial: 'pet', collection: @pets %>  
</div>    
