// .star-btn {
//     display: flex;
//     align-items: center;
  
//   }
  
//   .star-icon {
//     height: 4vh;
//     width: 4vh;
//     margin-right: 0.5vw;
//   }
//   .star-count {
//     font-size: 2vh;
   
//   }
.like-btn {
    width: 25px;
    height: 30px;
    font-size: 25px;
    color: #808080; 
    margin-left: 20px;
    }
   
   .unlike-btn {
    width: 25px;
    height: 30px;
    font-size: 25px;
    color: #e54747;
    margin-left: 20px;
    }